<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        body{
          background-image:url(https://wallpapercave.com/wp/wp2561064.jpg) ;
          background-repeat: no-repeat;
          background-size:cover;
          position: relative;
          
          
        }
      </style>
      
</head>
<body style="padding-top: 100px;">
    
    <div style="border: 2px solid;text-align:left; padding-left: 180px;line-height: 30px; margin: 50px 400px;border-radius: 10px; border-color: rgb(95, 190, 231);background-color: rgb(167, 213, 230);" >
        
        <p><b>The teaching-learning environment:</b>{{obj.tlm}}</p>
        <p><b>Co-curricular activity:</b>{{obj.ccam}}</p>
        <p><b>Physical security in the school:</b>{{obj.psm}}</p>
        <p><b>Hostel facilities:</b>{{obj.hfm}}</p>
        <p><b>Infrastructure and transportation facilities:</b>{{obj.itm}}</p>
        <p><b>Communication with teaching staff:</b>{{obj.ctm}}</p>
        <p><b>Commitment of other faculties:</b>{{obj.cfm}}</p>
        <p><b>Learning sources such as library,labs etc:</b>{{obj.llm}}</p>
        <p><b>Suggestions:</b>{{obj.sgm}}</p>
    </div>
   
</body>
</html>